@use './variables' as *;

.form{
    max-width: 500px;
    margin: 10px;
    padding: 5px;
    background-color: $background;
    border-radius: $border;
    box-shadow: 0 4px 8px #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;

    h2{
        font-size: 24px;
        color: $font-primary;
        text-align: center;
    }
    label{
        font-weight: bold;
        color: $primary;
    }
    input, select, textarea{
        padding: 5px;
        border-radius: $border;
        border-color: $primary;
        cursor: pointer;
        font-size: 12px;
    }
    button{
        background-color: $secondary;
        padding: 5px;
        border-radius: $border;
    }
}