

$background: #cccccc;
$primary: #1a2b3c;
$secondary: #7c8c9a;
$highlighted: #cccccc;
$button: yellow;
$border: 6px;
$font-text: 10px;
$font-primary: 'Verdana';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}