@use './variaveis' as *;
.camera-box{
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    max-width: 850px;
    margin: 2rem;
    text-align: center;
    color: $claro;
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 2rem;
   
}
.preview{
    width: 90%;
    background: $fundo;
    border-radius:15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
video, img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius:12px;
}