.corpo {
  background-image: url('../assets/mundo.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  width: 100vw;
  height: 100vh;

  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(235, 225, 225, 0); 
    backdrop-filter: blur(2.5px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}
